html {
    background: linear-gradient(rgb(0, 162, 232), white) fixed no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Alata', sans-serif;
    background-size: 120%;
  }
  
  h2 {
    font-size: 30px;
    align-self: center;
  }
  
  h1 {
    float: left;
    font-size: 40px;
  }
  
  h3 {
    font-size: 90px;
  }
  
  h4 {
    padding-top: 10px;
    font-size: 20px;
    align-self: center;
  }
  
  p {
    font-size: 20px;
    color: rgb(238, 113, 85);
  }
  
  #ono {
    padding-top: 20px;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  #ms {
    float: left;
    width: 75px;
    padding: 10px;
    padding-left: 30px;
  }
  
  #mt {
    width: 150px;
    padding: 35px;
  }
  
  .ms {
    width: 40px;
    padding: 25px;
    padding-top: 10px;
  }
  
  #lum{
    margin-top: 30px;
    width: 1400px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  }
  
  .imgr {
    width: 500px;
    height: 250px;
    align-self: center;
    padding: 40px;
    border-radius: 91px 91px 91px 91px;
-moz-border-radius: 91px 91px 91px 91px;
-webkit-border-radius: 91px 91px 91px 91px;
border: 0px groove #0affff;
  }
  
  .imgr1 {
    width: 600px;
    height: 150px;
    align-self: center;
    padding: 20px;
    border-radius: 91px 91px 91px 91px;
-moz-border-radius: 91px 91px 91px 91px;
-webkit-border-radius: 91px 91px 91px 91px;
border: 0px groove #0affff;
  }
  
  .imgr2 {
    width: 500px;
    height: 500px;
    align-self: center;
    padding: 40px;
  }
  
  header {
    background: black;
    width: 100%;
    position: fixed;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden;
  }
  
  nav ul li {
    font-size: 20px;
  }
  
  nav ul li a {
    float: right;
    display: block;
    padding: 25px;
    color: black;
    text-decoration: none;
    background-color: rgb(229, 241, 246);
  }
  
  nav ul li a {
    color: black;
    background-color: rgb(125, 201, 231);
  }
  
  nav ul li h1 {
    display: block;
    padding: 7px;
    color: white;
  }
  
  #a1 {
    color: white;
    background-color: black;
  }
  
  button {
    color: rgb(168, 168, 168);
    background: transparent;
    width: 270px;
    font-size: 30px;
    border-style: none;
    font-family: 'Alata', sans-serif;
  }
  
  button:hover {
    color: rgb(229, 241, 246);
  }
  
  /*
  <div id="d1">
          <div id="d2">
              <h2>Prioriza el trabajo y agendalo</h2>
              <br>
              <div id="d3">
                  <div id="d3-1">
                      <h3 id="ono">Inicia Sesion de nuevo</h3>
                      <input class="eb" type="button" value="Iniciar">
                  </div>
                  <div id="d3-2"></div>
                  <div id="d3-3">
                      <h3>Si no has iniciado sesion, que esperas!</h3>
                      <input id="ib" class="eb" type="button" value="Registrarse">
                  </div>
              </div>
          </div>
      </div>
  
  #d1 {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 400px;
    justify-content: center;
    padding-top: 150px;
  }
  
  #d2 {
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 7px;
    border-color: rgb(229, 241, 246);
    grid-column: 1/2;
  }
  
  #d3 {
    display: grid;
    grid-template-columns: 160px 1px 160px;
    grid-template-rows: 150px;
    justify-content: center;
    grid-column: 1/2;
    border-radius: 10px;
    padding-top: 20px;
  }
  
  #d3-1 {
    grid-column: 1/2;
    margin-right: 15px;
  }
  
  #d3-2 {
    border-color: black;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-width: 1px;
  }
  
  #d3-3 {
    grid-column: 3/4;
    margin-left: 15px;
  }
  */
  #d1 {
    color: black;
    padding-top: 150px;
    padding-bottom: 70px;
  }
  
  #d2 {
    display: grid;
    grid-template-columns: 1500px;
    justify-content: center;
    color: rgb(31, 31, 31);
  }
  
  #d2-1 {
    grid-column: 1/2;
  }
  
  #d2-2 {
    padding-top: 70px;
    grid-column: 1/2;
  }
  
  #d3 {
    display: grid;
    grid-template-columns: 1500px;
    justify-content: center;
    color: rgb(229, 241, 246);
    background: linear-gradient(0deg, rgb(31, 31, 31), black) fixed no-repeat;
    padding-bottom: 100px;
  }
  
  #d5 {
    display: flex;
    flex-direction: row;
    float: left;
    width: 1500px;
    height: 500px;
    margin-bottom: -100px;
  }
  
  #d5_5 {
    display: flex;
    flex-direction: row;
    float: left;
    width: 1500px;
    height: 500px;
  }
  
  
  #d6 {
    display: flex;
    flex-direction: row;
    float: right;
    width: 1500px;
    height: 500px;
    margin-bottom: 30px;
  }
  
  #d7 {
    display: grid;
    grid-template-columns: 230px 250px 300px 350px 300px 130px;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    color: rgb(168, 168, 168);
    align-items: center;
  }
  
  #d8 {
    display: grid;
    grid-column: 1/2;
    align-items: center;
    padding: 5px;
  }
  
  #d9 {
    grid-column: 2/3;
  }
  
  #d10 {
    grid-column: 3/4;
  }
  
  #d11 {
    grid-column: 4/5;
  }
  
  #d12 {
    grid-column: 5/6;
    display: grid;
    padding-top: 20px;
    align-content: center;
  }
  
  #d13 {
    display: flex;
    align-items: center;
  }
  
  .eb {
    font-size: 17px;
    width: 90px;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(229, 241, 246);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: black;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  #uwu{
    background-color: white;
  }


  .tarjeta1 {
    display: grid;
    grid-template-columns: 5% 40% 40% 5%;
    grid-gap: 3%;
  }
  
  .tarjeta1_1 {
    grid-column: 2/3;
    text-align: left;
  }
  
  .tarjeta1_2 {
    grid: 3/4;
    text-align: right;
  }
  
  .tarjeta2 {
    display: grid;
    grid-template-columns: 5% 40% 40% 5%;
    grid-gap: 3%;
    padding: 5%;
  }
  
  .tarjeta2_1 {
    grid-column: 2/3;
    text-align: left;
  }
  
  .tarjeta2_2 {
    grid: 3/4;
    text-align: right;
  }
  
  #chu {
    float: center;
    width: 100%;
  }
  
  p {
    font-size: 1.3em;
  }
  
  
  #datos {
    font-size: 80px;
  }
  
  #chu2 {
    float: center;
    width: 100%;
    height: 47%;
  }
  
  #chu3 {
    float: center;
    width: 60%;
    height: 40%;
    margin-right: 20%;
    margin-left: 20%;
  }
  
  #chu4 {
    float: center;
    width: 100%;
    height: 47%;
  }
  
  #mc {
    background: black;
  }
  
  .bot1 {
    color: black;
    background: rgb(0, 162, 232);
    border-style: none;
    width: 200px;
    padding: 1%;
    border-style: solid;
    border-radius: 50px;
    border-color: rgb(0, 162, 232);
    outline: transparent;
    appearance: none;
  }
  
  .bot1:hover { 
    color: white;
    background: rgb(1, 72, 102);
    border-style: solid;
    border-radius: 50px;
    border-color: rgb(1, 72, 102);
    transition: ease-in 0.2s;
  }
  
  .bot1:active{
    direction: none;
  }
  

  #d5 {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: row;
    float: left;
    width: 1500px;
  }

.t1{
  color: white;
}

.t2{
  color: black;
}

#vid1{
  padding-left: 100px;
  width: 350px;
  
}

#panas{
  padding-right: 80px;
}